@charset "utf-8";

/* ヘッダー */

.main img {
    width: 100%;
}

.header_nav ul {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 63px 90px 0 0;
}

.header_nav li {
    margin-left: 50px;
}

.copy {
    position: absolute;
    left: 225px;
    top: 410px;
    writing-mode: vertical-rl;
    text-indent: -8em;
    line-height: 1.75;
    font-size: 40px;
}

/* about */

.about {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 213px;
}

.about_title {
    width: 203px;
    margin: 0 auto;
}

.about_content {
    display: flex;
    margin-top: 86px;
    justify-content: center;
}

.about_content img {
    width: 373px;
}

.about_item {
    display: block;
    margin-left: 112px;
    margin-top: 30px;
}

.about_text1 {
    font-size: 20px;
    margin-bottom: 57px;
}

.about_text2 {
    line-height: 1.75;
    margin-bottom: 38px;
}

.about_text3 {
    line-height: 1.75;
    margin-bottom: 55px;
}

/* ボタン */

.btn_1 {
    background: transparent;
    padding: 15px 35px;
    border-radius: 99rem;
    border: 2px solid #6fb300;
    color: #6fb300;
    transition: 0.5s;
}

.btn_1:hover {
    background-image: url(../img/btn@2x-80.jpg);
    background-size: cover;
    color: #fff;
}

/* Service */

.service {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 235px;
}

.service_block {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service_title {
    width: 195px;
    margin: 0 auto 125px;
}

.service_item {
    width: 250px;
}

.service_item img {
    height: 250px;
}

.service_item h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.service_item p {
    line-height: 1.75;
    text-align: left;
}

/* works */

.works {
    text-align: center;
}

.works_title {
    width: 203px;
    margin: 0 auto 75px;
    margin-top: 450px;
}

.works_slide {
    display: flex;
    margin-bottom: 50px;
}

.btn_2 {
    background: transparent;
    padding: 15px 35px;
    border-radius: 99rem;
    border: 2px solid #6fb300;
    color: #6fb300;
    transition: 0.5s;
}

.btn_2:hover {
    background-image: url(../img/btn@2x-80.jpg);
    background-size: cover;
    color: #fff;
}

/* contact */

.contact_title {
    width: 200px;
    margin: 0 auto 75px;
    margin-top: 255px;
}

.contact_contact {
    width: 540px;
    margin: 0 auto;
    padding-bottom: 350px;
}
.contact_text {
    margin-bottom: 45px;
}

.contact_part {
    width: 297px;
}

input,
textarea {
    display: block;
    width: 540px;
    border: none;
    background-color: #6fac00;
    opacity: 0.15;
    margin-top: 3px;
}

input {
    height: 30px;
    margin-bottom: 20px;
}

textarea {
    height: 200px;
    margin-bottom: 30px;
}

.contact_part {
    position: absolute;
    right: 280px;
    top: 4070px;
}

button {
    background-image: url(../img/btn@2x-80.jpg);
    padding: 15px 35px;
    border-radius: 99rem;
    border: 2px solid #6fb300;
    color: #fff;
}
