@charset "utf-8";

/* ヘッダー */

.main img {
    width: 100%;
}

.copy {
    position: absolute;
    left: 225px;
    top: 410px;
    writing-mode: vertical-rl;
    text-indent: -8em;
    line-height: 1.75;
    font-size: 40px;
}

/* about */

.about {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 213px;
}

.about_title {
    width: 203px;
    margin: 0 auto;
}

.about_content {
    display: flex;
    margin-top: 86px;
    justify-content: center;
}

.about_img {
    width: 373px;
}

.about_item {
    display: block;
    margin-left: 112px;
    margin-top: 30px;
}

.about_text1 {
    font-size: 20px;
    margin-bottom: 57px;
}

.about_text2 {
    line-height: 1.75;
    margin-bottom: 38px;
}

.about_text3 {
    line-height: 1.75;
    margin-bottom: 55px;
}

.btn_1 {
    background: transparent;
    padding: 15px 35px;
    border-radius: 99rem;
    border: 2px solid #6fb300;
    color: #6fb300;
    transition: 0.5s;
}

.btn_1:hover {
    background-image: url(../img/btn@2x-80.jpg);
    background-size: cover;
    color: #fff;
}

/* Service */

.service {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 235px;
}

.service_block {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service_title {
    width: 195px;
    margin: 0 auto 125px;
}

.service_item {
    width: 250px;
}

.service_item img {
    height: 250px;
}

.service_item h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.service_item p {
    line-height: 1.75;
    text-align: left;
}

/* works */

.works {
    text-align: center;
    margin-top: 450px;
}

.works_title {
    width: 203px;
    margin: 0 auto 75px;
}

.works_slide {
    display: flex;
    margin-bottom: 50px;
}

.btn_2 {
    background: transparent;
    padding: 15px 35px;
    border-radius: 99rem;
    border: 2px solid #6fb300;
    color: #6fb300;
    transition: 0.5s;
}

.btn_2:hover {
    background-image: url(../img/btn@2x-80.jpg);
    background-size: cover;
    color: #fff;
}

/* contact */

.contact_title {
    width: 200px;
    margin: 0 auto 75px;
    margin-top: 255px;
}

.contact_contact {
    width: 540px;
    margin: 0 auto;
    padding-bottom: 350px;
}
.contact_text {
    margin-bottom: 45px;
}

.contact_part {
    width: 297px;
}

input,
textarea {
    display: block;
    width: 540px;
    border: none;
    background-color: #6fac00;
    opacity: 0.15;
    margin-top: 3px;
}

input {
    height: 30px;
    margin-bottom: 20px;
}

textarea {
    height: 200px;
    margin-bottom: 30px;
}

.contact_part {
    position: absolute;
    right: 330px;
    top: 4100px;
}

button {
    background-image: url(../img/btn@2x-80.jpg);
    padding: 15px 35px;
    border-radius: 99rem;
    border: 2px solid #6fb300;
    color: #fff;
}

/* aboutメイン */

.sns a {
    display: block;
    width: 30px;
}

.sns {
    justify-content: space-around;
}

.sns li {
    padding: 0px 10px;
}

.about_name {
    display: flex;
}

.about_name p {
    font-size: 40px;
    margin-right: 48px;
}

.about_name ul {
    display: flex;
    align-items: center;
}

.about_text4 {
    margin-bottom: 8px;
}

.about_text5 {
    margin-top: 80px;
    line-height: 1.75;
}

.about_text6 {
    margin-top: 40px;
    line-height: 1.75;
}

.about_global {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 90px;
}

.about_global2 {
    margin-right: 75px;
}

/* profile */

.profile {
    max-width: 690px;
    margin: 0 auto;
    margin-top: 300px;
}

.profile_title {
    width: 256px;
    margin: 0 auto 70px;
}

.profile_text1 {
    line-height: 1.75;
    margin-bottom: 40px;
}

.profile_text2 {
    line-height: 1.75;
}

/* skill */

.skill {
    max-width: 717px;
    margin: 0 auto;
    margin-top: 260px;
}

.skill_title {
    width: 153px;
    margin: 0 auto 60px;
}

.skill dl {
    display: flex;
    flex-wrap: wrap;
}

.skill dt {
    width: 15%;
    margin-bottom: 10px;
}

.skill dd {
    width: 85%;
    margin-bottom: 10px;
}

/* favorite */

.favorite {
    max-width: 1000px;
    margin: 0 auto 360px;
    margin-top: 280px;
}

.favorite_block {
    display: flex;
    justify-content: space-between;
}

.favorite_title {
    width: 214px;
    margin: 0 auto 85px;
}

.favorite_item {
    width: 200px;
}

.favorite_item img {
    width: 168px;
}

.favorite_item div {
    text-align: center;
    margin-bottom: 35px;
}

.favorite_item h3 {
    text-align: center;
    margin-bottom: 13px;
    font-size: 20px;
}

.favorite_item p {
    line-height: 1.75;
}

/* あしらい */

.part1 {
    width: 178px;
    position: absolute;
    right: 130px;
    top: 600px;
}

.part2 {
    width: 99px;
    position: absolute;
    left: 50px;
}

/* 背景 */

.profile_back {
    position: absolute;
    top: 800px;
}

/* thank you */

.thankyou_img {
    width: 1100px;
}

.thankyou_item {
    position: absolute;
    top: 350px;
    right: 200px;
    text-align: center;
}

.thankyou_item h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 82px;
}

.thankyou_item p {
    line-height: 3;
}
